%section.BlogMidoc
  .BlogImg
    %h2.txtcenter.wow.fadeInUp{"data-wow-delay" => "0.1s"} BLOG MIDOCONLINE
    %ul
      - @blogpost.each do |post|
        %li
          .DateText.wow.fadeInUp{"data-wow-delay" => "0.1s"}
            %span
              =  post.post_date.strftime('%d %b')
          %p
            = post.title
          %div
            %img{:src => post.image.url(:blog_medium)}/
          %p.CanenderTxt
            = post.description

    %span.seemoreBtn
      %a.contactBtn{:href => blogs_path} SEEMORE


:css
  .othrnewsblogdiv{display:none}
  .hide_othrnewsdiv{display:none}
:javascript
  $(document).ready(function() {
    $("#homeBanner").owlCarousel({ 
      items : 1,
      autoplay:true,
      loop:true,
      dots:false,
      paginationSpeed: 1000,
      animateIn: 'fadeIn',
      animateOut: 'fadeOut',
    })
