.warper.container-fluid{"data-ng-app" => "", "ng-controller" => "suggestionsController"}
  .page-header
    %h1
      Approval Pending Doctors
    .download_xls
      -#%a{:href => admin_suggestions_path(:format => :xls), :class => "newAdmGglFd"}
        Download XLS    
  .clearfix
  .col-md-6.col-xs-10.content_txt.reportedPostPage.row
    %div.editDropdown
      %input.form-control.form-control-circle.content_search{:placeholder => "Type to search...", :type => "text", :style => "width:200px;height: 33px;margin-bottom:10px", 'ng-model' => 'name'}
    %ul#myTab.nav.nav-tabs{:role => "tablist"}
      %li
        %a.pendingImages{:href => "/doctors"} Approved Doctors
      %li.active
        %a.acceptedImages{:href => "javascript:void(0)"} Not Approved Doctors
      
      - if false  
        %li
          %a.declinedImages{:href => "/rejected_suggestions_listing"} Meh
        
    #myTabContent.tab-content
      #pendingImages.tab-pane.tabs-up.fade.in.active.panel.panel-default
        .panel-body
          %p{:style => "height:20px;"}
          .show-grid{"ng-repeat" => "doctor in pending_doctors | filter : name"}
            .col-md-4.eDitPictur
              .asfjga.desc
                %a{:href => "/doctors/{{doctor.id}}"}
                  {{ doctor.email }}
            .col-md-6.eDitDatte
              -#%a.btn.btn-primary.show-grid.disblebtn{:href => "doctor/{{doctor.id}}"}
              -#  %i.fa.fa-database
              %a.btn.btn-success.disblebtn.add_challenge{"data-target" => "#modal-addChallenge1", :href => "/doctors/{{doctor.id}}/update_doctor_status", :for => "{{doctor.id}}"}
                %i.fa.fa-check
              %a.btn.btn-warning.disblebtn.add_challenge{"data-target" => "#modal-addChallenge1", :href => "/doctors/{{doctor.id}}/update_doctor_status?status=false", :for => "{{doctor.id}}"}
                %i.fa.fa-times
              %a.btn.btn-danger.disblebtn{:href => "/doctors/{{doctor.id}}/delete_doctor"}
                %i.fa.fa-trash
              - if false
                %a.btn.btn-danger.show-grid.disblebtn{:href => "/doctors/12", :method => 'post'}
                  %i.fa.fa-trash
                %a.btn.btn-danger.show-grid.disblebtn{:href => "/admin/reject_suggetions?ids={{suggestion.id}}&p=true", :method => 'post'}
                  %i.fa.fa-pencil
              - if false
                %a.btn.btn-primary.show-grid.disblebtn{:href => "/admin/give_points_to_user?ids={{suggestion.id}}", 'data-confirm' =>'Are you sure?'}
                  %i.fa.fa-database
            .clearfix  
          .clearfix  
  .clearfix

:css
  .park_existing_chal_with_add_new{:display:none} 

:javascript
  $(document).ready(function(){
    var blockWidth=parseInt($('.panel-body').css('width'));
    $('.divActionButtons').css('left',(blockWidth-30) + 'px')
  
  })
  
  
:css
  .eDitPictur {width: 40%;}
  .eDitDatte {width: 56%;float: right;}


:javascript
  function suggestionsController($scope) {
    $scope.table_headings = ['Id', 'User Id', 'Description', 'Suggested Date', 'Selected','']
    $scope.pending_doctors = JSON.parse(#{@pending_doctors.to_json});
  }      

