%section.contactInfo.formulaInfo.clear
  .container
    .col-md-6.sponserblog.wow.fadeInUp{"data-wow-delay" => "0.1s"}
      %h2 CONTACTO
      %span.AddresInfo
        55 Main St.
        %br
          Toronto, ON
          %br
            M1H 3A5
      %span.phone (416) 555-5252
      %span.Emailinfo info@midoconline.com
    .col-md-6.sponserblog.twitericon.wow.fadeInUp{"data-wow-delay" => "0.1s"}
      %h2 ULTIMOS TWETTS
      %span
        Confucius: Life is really simple,
        but we insist on making it
        complicated.
        \#famousquotes
        8 mins ago
      %span
        Grab the Free Treehouse web template at FreebiesXpress!
        \#freebies #templates
        2 days ago
%footer
  .container
    .col-md-6.copyright.wow.fadeInUp{"data-wow-delay" => "0.1s"}
      %span © Copyright 2015 midoconlie.com
    .col-md-6.socialblog
      %a{:href => "https://twitter.com/Midoconline1?lang=es", :target => '_blank'}
        %img{:src => "/assets/twitter.png"}
      %a{:href => "https://www.facebook.com/midoconline/", :target => '_blank'}
        %img{:src => "/assets/facebook.png"}/
      %a{:href => ""}
        %img{:src => "/assets/pinrest.png"}/
      %a{:href => ""}
        %img{:src => "/assets/googleplus.png"}/
